<div class="row" style="display: flex; align-items: center">
  <div class="col-md-2">
    <img style="width: 50px" src="{{ product.image }}" alt="imagen" />
  </div>
  <div class="col-md-4">
    <p>{{ product.name }}</p>
  </div>
  <div class="col-md-2">
    <h4>
      <span
        (click)="increaseProduct(product)"
        style="cursor: pointer"
        class="glyphicon glyphicon-plus"
      ></span>
      {{ product.quantity }}
    </h4>
  </div>
  <div class="col-md-2">
    <p>$ {{ product.price | number: "1.0-2" }}</p>
  </div>
  <div class="col-md-1">
    <span
      style="cursor: pointer"
      class="glyphicon glyphicon-trash"
      (click)="onClick(product)"
    ></span>
  </div>
</div>
