<div class="row">
  <div class="col-md-2">
    <img style="width: 50px" src="{{ product.image }}" alt="imagen" />
  </div>
  <div class="col-md-4">
    <p>{{ product.name }}</p>
  </div>
  <div class="col-md-2">
    <p>{{ product.quantity }}</p>
  </div>
  <div class="col-md-2">
    <p>$ {{ product.price | number: "1.0-2" }}</p>
  </div>
  <div class="col-md-1">
    <span
      style="cursor: pointer"
      class="glyphicon glyphicon-trash"
      (click)="onClick(product)"
    ></span>
  </div>
</div>
