<div class="row">
  <div class="col-md-6 col-md-offset-5">
    <h1>About Us</h1>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <h4>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus,
      aliquid laborum adipisci voluptate nam quidem facere nemo at velit
    </h4>
  </div>
</div>
<hr />
<!-- about me  -->
<div class="row">
  <div class="col-md-12">
    <div class="col-md-6 rigth">
      <div style="margin-top: 50px" class="col-md-6 col-md-offset-2">
        <h1>About Me!!</h1>
        <br />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. At numquam
          similique, cum facilis et recusandae eaque, inventore consequuntur
          cupiditate quod fugiat repellat autem adipisci excepturi. Dignissimos
          iure quos nisi quisquam?
        </p>
      </div>
    </div>
    <div class="col-md-6 left">
      <img
        style="width: 80%"
        src="../../../assets/images/johanaPic.png"
        alt="About Me"
      />
    </div>
  </div>
</div>
<hr />
<!-- my approach -->
<div class="row">
  <div class="col-md-12">
    <div class="col-md-6 rigth">
      <img
        style="width: 80%"
        src="../../../assets//images/johanapic2.png"
        alt="Our approach"
      />
    </div>
    <div class="col-md-6 left">
      <div style="margin-top: 50px" class="col-md-6 col-md-offset-2">
        <h1>My approach</h1>
        <br />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. At numquam
          similique, cum facilis et recusandae eaque, inventore consequuntur
          cupiditate quod fugiat repellat autem adipisci excepturi. Dignissimos
          iure quos nisi quisquam?
        </p>
      </div>
    </div>
  </div>
</div>
<hr />
<!-- about me  -->
<div class="row">
  <div class="col-md-12">
    <div class="col-md-6 rigth">
      <div style="margin-top: 50px" class="col-md-6 col-md-offset-2">
        <h1>My mission!!</h1>
        <br />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. At numquam
          similique, cum facilis et recusandae eaque, inventore consequuntur
          cupiditate quod fugiat repellat autem adipisci excepturi. Dignissimos
          iure quos nisi quisquam?
        </p>
      </div>
    </div>
    <div class="col-md-6 left">
      <img
        style="width: 80%"
        src="../../../assets/images/johanaPic3.png"
        alt="My mission"
      />
    </div>
  </div>
</div>
<hr />
